<!DOCTYPE html>
<html lang="en">
<head>
    <title>BST project listing</title>
</head>
<body>
    <table border="1">
    {% for row in rows %}
      <TR id=rows>
         <TD class="c1">{{row[0]}}</TD>
         <TD class="c2">{{row[1]}}</TD>
         <TD class="c3">{{row[2]}}</TD>
         <TD class="c4">{{row[3]}}</TD>
         <TD class="c5">{{row[4]}}</TD>
      </TR>
    {% endfor %}
    </table>
</body>
</html>
