<!DOCTYPE html>
<html lang="en">
<head>
  <style>

    table, th, td {
           border: 1px solid black;
     }
    th, td {
         padding: 5px;
    }
    body {
       background-color: #cccccc;
       font-family: Arial, sans-serif;
         font-size:0.8em;
    }
    td.c1 {
      background-color: #336799;
      font-weight: bold;
    }
  </style>
    <title>BST project listing</title>
</head>
<body>
    <table border="1">
    {% for row in rows %}
      <TR id=rows>
         <TD class="c1">{{row[0]}}</TD>
         <TD class="c2">{{row[1]}}</TD>
         <TD class="c3">{{row[2]}}</TD>
         <TD class="c4">{{row[3]}}</TD>
         <TD class="c5">{{row[4]}}</TD>
         <TD class="c6">{{row[5]}}</TD>
         <TD class="c7">{{row[6]}}</TD>
      </TR>
    {% endfor %}
    </table>
</body>
</html>
